@font-face {
  font-family: 'MuseoSans';
  src: url('../fonts/MuseoSans/MuseoSansLight/MuseoSansCyrl-300.eot');
  src: url('../fonts/MuseoSans/MuseoSansLight/MuseoSansCyrl-300.eot?#iefix') format('embedded-opentype'),
  url('../fonts/MuseoSans/MuseoSansLight/MuseoSansCyrl-300.woff') format('woff'),
  url('../fonts/MuseoSans/MuseoSansLight/MuseoSansCyrl-300.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'MuseoSans';
  src: url('../fonts/MuseoSans/MuseoSansReg/MuseoSansCyrl-500.eot');
  src: url('../fonts/MuseoSans/MuseoSansReg/MuseoSansCyrl-500.eot?#iefix') format('embedded-opentype'),
  url('../fonts/MuseoSans/MuseoSansReg/MuseoSansCyrl-500.woff') format('woff'),
  url('../fonts/MuseoSans/MuseoSansReg/MuseoSansCyrl-500.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'MuseoSans';
  src: url('../fonts/MuseoSans/MuseoSansThin/MuseoSansCyrl-100.eot');
  src: url('../fonts/MuseoSans/MuseoSansThin/MuseoSansCyrl-100.eot?#iefix') format('embedded-opentype'),
  url('../fonts/MuseoSans/MuseoSansThin/MuseoSansCyrl-100.woff') format('woff'),
  url('../fonts/MuseoSans/MuseoSansThin/MuseoSansCyrl-100.ttf') format('truetype');
  font-weight: 250;
  font-style: normal;
  }